* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar_container {
  background-color: #0f171e;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.main_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.btn_auth {
  background-color: #3498db;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.btn_auth:hover {
  cursor: pointer;
}

.form_login_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.input_login {
  padding: 0.5rem;
  margin-left: 1rem;
  width: 15rem;
  border-radius: 1rem;
  height: 2rem;
}

.footer-container {
  /* padding: 0 0 37px; */
  height: 6rem;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background: #272c30;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #3498db;
}

.footer-sub-container {
  max-width: 1160px;

  padding: 0;
  display: block;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  gap: 2rem;
  cursor: pointer;
}

.footer-icons-link {
  margin: 0 auto;
}
